@using CryptoTradingPlatfrom.Core.Contracts
@model IEnumerable<TransactionHistoryViewModel>

@inject ITradingService tradingService;

<h1 class="text-center"><i class="fas fa-comment-dollar text-success fa-xs" style="font-size:30px"></i>Transaction History</h1>

<table class="table text-nowrap mt-4 cryptotable">
    <thead>
        <tr>
            <th scope="col">
                <a class="text-white" style="text-decoration:none" asp-action="History" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.AssetName)</a>
            </th>
            <th scope="col">
                <a class="text-white" style="text-decoration:none" asp-action="History" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.Date)</a>
            </th>
            <th scope="col">
                <a class="text-white" style="text-decoration:none" asp-action="History" asp-route-sortOrder="@ViewData["PriceSortParm"]">@Html.DisplayNameFor(model => model.Price)</a>
            </th>
            <th scope="col">
                <a class="text-white" style="text-decoration:none" asp-action="History" asp-route-sortOrder="@ViewData["QuantitySortParm"]">@Html.DisplayNameFor(model => model.Quantity)</a>
            </th>
            <th scope="col">
                <a class="text-white" style="text-decoration:none" asp-action="History" asp-route-sortOrder="@ViewData["TypeSortParm"]">@Html.DisplayNameFor(model => model.Type)</a>
            </th>
        </tr>
    </thead>
    <tbody class="bg-black p-2 text-dark bg-opacity-10 text-white">

        @foreach (var tr in Model)
        {
            <tr>
                <td>
                    @tr.AssetName
                </td>
                <td>
                    @tr.Date
                </td>
                <td>
                    @tr.Price.ToString("C",new CultureInfo("en-US"))
                </td>
                <td>
                    @tr.Quantity
                </td>
                @if (tr.Type == "Buy")
                {
                    <td class="text-danger">
                        @tr.Type
                    </td>
                }
                else if (tr.Type == "Sell")
                {
                    <td class="text-success">
                        @tr.Type
                    </td>
                }
                else if (tr.Type == "Swap")
                {
                    <td class="text-info">
                        @tr.Type
                    </td>
                }
            </tr>
        }
    <tbody>
</table>
<div class="row mt-3">
    <div class="col">
        <a href="/Trading/Download"><button type="submit" class="btn btn-primary btn-lg btn-block mt-2 rounded-pill">Downloadd History</button></a>
    </div>
</div>
