@model AssetDetailsViewModel


<div class="container">
    <div class="row">
        <div class="col-2 col-sm-1 mt-4">
            <img src="@Model.Logo" alt="@Model.Ticker">
        </div>
        <div class="col-2 col-sm-1 mt-4 text-muted fs-1">
            @Model.Ticker
        </div>
        <div class="col-2 col-md-1 mt-4 fw-bold fs-1">
            @Model.Name
        </div>
    </div>
    <div class="row col-8 mt-3 cryptotable">
        <p>@Model.Description</p>
    </div>
    <a href="/Trading/Trade" class="button btn btn-success mt-2 rounded-pill">Trade now</a>
    @if (User.IsInRole("Manager") || User.IsInRole("Administrator"))
    {
        <a href="/Assets/Remove?assetName=@Model.Name" class="button btn btn-danger mt-2 rounded-pill">Remove</a>
    }
</div>
