@using CryptoTradingPlatfrom.Core.Models.Assets
@model BuyAssetFormModel

@{
    var Assets = (List<SwapAssetViewModel>)ViewBag.Assets;
}

<div class="container">
    <h3 class="text-center font-weight-bold text-white">Swap</h3>
    <div class="offset-md-4 col-md-4 col-sm-12">
        <form method="post" asp-controller="Assets" asp-action="Swap">
            <div class="row form-group">
                <div class="col-6">
                    <select asp-for="SellAssetId" class="rounded-pill form-select form-select-lg" aria-label="form-select-lg example">
                        <option value="" disabled selected>Select a crypto</option>
                        @foreach (var asset in Assets)
                        {
                            <option value="@asset.AssetId">@asset.AssetName</option>
                        }
                    </select>
                    <div class="ms-2">
                        <span asp-validation-for="SellAssetId" class="small text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <input asp-for="SellAssetQyantity" step="0.001"type="number" class="form-control-lg rounded-pill border-0" placeholder="Enter Amount">
                    <div class="ms-2">
                        <span asp-validation-for="SellAssetQyantity" class="small text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group text-center">
                <i class="bi bi-arrow-down-circle-fill bi-xl" style="font-size:30px"></i>
            </div>
            <div class="row form-group">
                <div class="col-6">
                    <select asp-for="BuyAssetId" class="rounded-pill form-select form-select-lg" aria-label="form-select-lg example">
                        <option value="" disabled selected>Select a crypto</option>
                        @foreach (var asset in Assets)
                        {
                            <option value="@asset.AssetId">@asset.AssetName</option>
                        }
                    </select>
                    <div class="ms-2">
                        <span asp-validation-for="BuyAssetId" class="small text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <input asp-for="@ViewData["BuyQuantity"]" type="text" class="border-0 form-control-lg rounded-pill" disabled placeholder="Calculating...">
                    <span asp-validation-for="BuyAssetQuantity" class="small text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                <button type="submit" class="btn btn-success btn-lg btn-block mt-2 rounded-pill">Swap</button>
            </div>
             <div class="col text-center">
                <p><input asp-for="Calculate" value="Calculate" type="submit" class="btn btn-primary btn-lg btn-block mt-2 rounded-pill"/></p>
            </div>
            </div>
        </form>
    </div>
</div>
