@model StatisticsViewModel

<div class="text-center">
    <h1>Welcome to the statistics page</h1>
</div>

<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6 col-sm-12">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Most Traded Asset
                    <span class="badge bg-primary rounded-pill">@Model.MostTradedAsset</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Most Traded Asset - Times Traded: 
                    <span class="badge bg-primary rounded-pill">@Model.MostTradedAssetTimesTraded</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Total Trades On The Platform
                    <span class="badge bg-primary rounded-pill">@Model.TotalTrades</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Total Trading Fees
                    <span class="badge bg-primary rounded-pill">@Model.TotalFees.ToString("C",new CultureInfo("en-US"))</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Total Trading Volume
                    <span class="badge bg-primary rounded-pill">@Model.TradedVolume.ToString("C",new CultureInfo("en-US"))</span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="mt-5 text-center">
        <h3>1 Lambo = $230,000</h3>
        <h3>@((230000 - @Model.TotalFees).ToString("C",new CultureInfo("en-US"))) Until Lambo</h3>
        <div class="col">
            <img src="/Images/DogeMoon.png" width="45%" height="45%" alt="DogeMoon">
        </div>
    </div>
</div>